pandas==2.2.3
numpy==1.26.4
plotly==5.24.1
streamlit==1.40.0
scikit-learn==1.5.2
xgboost==2.1.3
joblib==1.4.2
pyarrow==17.0.0
requests==2.32.3
python-dotenv==1.0.1
entsoe-py==0.7.8
yfinance==0.2.66
seaborn==0.13.2
matplotlib==3.9.2
tqdm==4.67.1
fastparquet==2024.11.0